@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f78ca2;
}

body {
  height: 100vh;
  background: #fdf5f5;
  background: linear-gradient(
    160deg,
    #fdf5f5 0%,
    #fee7e6 40%,
    #f9d3d3 75%,
    #fcecec 100%
  );
}

.btn-primary {
  color: #5a1e2f;
}

.btn-primary:hover {
  background-color: #fa7c96;
}

/* .nav-link {
  @apply text-pink-600  transform-none scale-100 hover:bg-transparent hover:shadow-none hover:scale-100;
} */

.nav-link {
  @apply hover:underline decoration-pink-500 hover:text-pink-500 bg-transparent text-pink-900;
}

.active {
  @apply underline decoration-pink-600 text-pink-600 bg-transparent;
}
