@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f86983;
}

body {
  background: #fdf5f5;
  background: linear-gradient(
    160deg,
    #fdf5f5 0%,
    #fee7e6 40%,
    #f9d3d3 75%,
    #fcecec 100%
  );
}

.btn-primary {
  @apply text-[#f5eaec];
}

.btn-primary:hover {
  background-color: #f76683;
  text-decoration: underline;
  font-weight: bold;
}

.nav-link {
  @apply hover:underline decoration-pink-500 hover:text-pink-500 bg-transparent text-pink-700;
}

.active {
  @apply underline decoration-pink-600 text-pink-600 bg-transparent;
}

.card {
  @apply bg-pink-100;
}

.input {
  @apply focus:border-pink-400 focus:ring-2 focus:ring-pink-300 outline-none;
}
